wsdl/Translate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Translate" targetNamespace="http://tempuri.org/Translate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/Translate/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Translate/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="dText" type="xsd:string"/>
      <xsd:element name="parameters" type="tns:dimensions"/>
      <xsd:complexType name="dimensions">
      	<xsd:sequence>
		      <xsd:element name="eText" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>


    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TranslateRequest">
    <wsdl:part name="eText" element="tns:parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TranslateResponse">
    <wsdl:part name="dText" element="tns:dText">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Translate">
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateRequest">
    </wsdl:input>
      <wsdl:output message="tns:TranslateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TranslateSOAP" type="tns:Translate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Translate">
      <soap:operation soapAction="http://tempuri.org/Translate/Translate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Translate">
    <wsdl:port name="TranslateSOAP" binding="tns:TranslateSOAP">
      <soap:address location="http://tempuri.org"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
